<div class="well">
	<h3><strong>The universe is the totalty of everything that exists, has existed or ever will exist.</strong></h3>
	<footer>This Q&amp;A is dedicated to questions about the history of the universe</footer>
</div>

<div class="container">
	<div class="boxes">
	<% @questions.each do |q| %>
	<div class="media media-main" data-target="<%= question_path(q) %>">
		<div class="media-left">
			<a href="#">
				<img class="media-object" src="<%= q.gravatar %>" alt="user avatar">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading"><%= q.email %> asked:</h4>
			<div class="time hidden-xs"><%= time_ago_in_words q.created_at %> ago</div>
			<%= truncate q.body, length: 300 %>
			<div class="hidden-xs">
				<a href="<%= question_path(q) %>" class="btn btn-success btn-xs">View Answers</a>
			</div>
		</div>
	</div>
	<% end %>
	</div>
	
	<% if @questions.empty? %>
	<div class="alert alert-info">Nothing here yet, be the first to ask?</div>
	<% end %>
</div>